@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #36454F;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

nav{
    background-color: #36454F;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.logo a{
    text-decoration: none;
}

.logo{
    text-align: center;
}

.logo img{
    width: 130px;
    cursor: pointer;
}

.icons{
    color: #e2cb99;
    font-size: 1.3rem;
}

.icons i:hover{
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.number{
    position: relative;
    top:-13px;
    left: -10px;
    color: #000;
    font-size: 1rem;
    border-radius: 100px;
    padding: 0px 3px 0px 3px;
    background-color: #fff;

}

nav li{
    display: inline-block;
    text-transform: uppercase;
    color: #e2cb99;
    cursor: pointer;
}

nav li:hover{
    color: #fff;
    transition: all 0.5s ease-in-out;
}